body {
    font-family: sans-serif;
    margin: 0;
    background-color: #121212;
    color: #fff;
}

.profile-image {
    width: 200px;
    height: 150px;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    /* padding: 40px; */
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("src/background_img.png");
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: null;
    padding: null;
    
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.buttons a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

.button.primary {
    background-color: #e44d26;
}

.button.secondary {
    background-color: transparent;
    border: 1px solid #fff;
}

.hero-image img {
    /* width: 250px;
    height: 420px; */
}

.skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.skills li {
    font-size: 1.2em;
}

.services {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.service {
    text-align: center;
}

.service img {
    width: 100px;
}

.about {
    margin-top: 50px;
}

.about h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.stat {
    text-align: center;
}

.stat h3 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

footer {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
}
